.itemsList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: gray;
}
.bacgroundB{
  background: gray;
  width: 150px;
  height: 150px;
  margin: 5px;
}

.bacgroundW{
  background: #fff;
  width: 150px;
  height: 150px;
  margin: 5px;
}
